extends ../layouts/default
		
block content
	.container.contact
		if enquirySubmitted
			h3 感谢联系我们.
		else
			.row: .col-sm-8.col-md-6
				form(method='post')
					input(type='hidden', name='action', value='contact')
					.form-group(class=validationErrors.name ? 'has-error' : null)
						label 您的称呼
						input(type='text', name='name.full', value=formData['name.full']).form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						label 您的邮箱
						input(type='email', name='email', value=formData.email).form-control
					.form-group
						label 您的电话
						input(type='text', name='phone', value=formData.phone, placeholder='(可选)').form-control
					.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
						label 理由?
						select(name='enquiryType').form-control
							option(value='') (请选择一项)
							each type in enquiryTypes
								option(value=type.value, selected=formData.enquiryType == type.value)= type.label
					.form-group(class=validationErrors.message ? 'has-error' : null)
						label 留言
						textarea(name='message', placeholder='请输入留言内容...' rows=4).form-control= formData.message
					.form-actions
						button(type='submit').btn.btn-primary 发 送
						
block foot
	include foot.jade
